<%- include('partials/header') %>



<div>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Pratyin Infotech Pvt.Ltd.</a>
    <form class="form-inline">

      <a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>
    </form>
  </nav>

  <div class="row">

    <div class="sidebar col-lg-2 col-md-3 col-sm-3">

      <div class="buttons">
        <a href="/adminDashboard" class="anchor">Dashboard</a>
      </div>

      <div class="buttons">
        <a href="/register" class="anchor">Register an employee</a>
      </div>


      <div class="buttons">
        <a href="/pendingRequest" class="anchor">Pending requests</a>
      </div>


    </div>

    <div class="mainsection col-lg-9 col-md-8 col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 80px;" scope="col">First</th>
            <th style="width: 80px;" scope="col">Last</th>
            <th style="width: 80px;" scope="col">Status</th>
            <th style="width: 80px;" scope="col">Leaves Remaining</th>
            <th style="width: 80px;" scope="col">Logs</th>
          </tr>
        </thead>
        <tbody>
          <% employees.forEach(function(user){ %>
          <tr>
            <td><%=user.firstName%></td>
            <td><%=user.lastName%></td>
            <td><%=user.status%></td>
            <td style="padding-left: 4rem;"><%=user.leavesRemaining%></td>
            <td><a href="/adminDashboard/logs/<%=user._id%>"><button class="btn btn-primary">View</button></a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
        
    </div>

  </div>

  


</div>

<%- include('partials/footer') %>